# Creo Project Manager Configuration
# Created by eosrei, based on C3 project script by populist, joshk, and jskulski.


# Directory to store temporary files/repos
TMP_DIR=/tmp

# Default project template, used when -t is not specified.
DEFAULT_TEMPLATE=drupal7

# The Apache configuration directory (Note: This script is Debian/Ubuntu specific)
APACHE_DIR=/etc/apache2

# The directory to store the web accessible clones of projects
WWW_DIR=/var/www

# The user and group which will own all files/directories in $WWW_DIR.
WWW_USER=root
WWW_GROUP=www-data

# Directory containing Trac installations
TRAC_DIR=/var/trac

# The directory name within $TRAC_DIR to use as a template for new projects
TRAC_TEMPLATE=templatetrac

# Directory to store/restore backups to/from
BACKUP_DIR=/var/backups/codebase

# The root domain name to use for each project. Will be used in the form: project.DOMAIN.
DOMAIN=

# MySQL username and password
MYSQL_USERNAME=
MYSQL_PASSWORD=

# Full path to run drush
DRUSH_PATH=/usr/local/drush/drush.php

# The user@host access string for use with Gitolite
GITOLITE_REPO_ACCESS=git@localhost

# The directory where all gitolite repos are stored
GITOLITE_REPO_DIR=/var/gitolite/repositories

# The directory of the gitolite-admin repo clone
GITOLITE_ADMIN_REPO_DIR=/root/gitolite-admin
