# Creo Project Manager Configuration

# Directory to store temporary files/repos
TMP_DIR=/tmp

# Default project template, used when -t is not specified.
DEFAULT_TEMPLATE=drupal7

# The root domain name to use for each project. Will be used in the form: project.DOMAIN.
DOMAIN=

# Full path to drush
DRUSH_PATH=/usr/local/drush/drush

# Directory to store/restore backups to/from
BACKUP_DIR=/var/backups/codebase

# MySQL username and password
MYSQL_USERNAME=
MYSQL_PASSWORD=

# The user@host access string for use with Gitolite
GITOLITE_REPO_ACCESS=git@localhost

# The directory where all gitolite repos are stored
GITOLITE_REPO_DIR=/var/gitolite/repositories

# The gitolite-admin repo clone directory for root
GITOLITE_ADMIN_REPO_DIR=/root/gitolite-admin

# Directory containing Trac installations
TRAC_DIR=/var/trac

# The directory name within $TRAC_DIR to use as a template for new projects
TRAC_TEMPLATE=templatetrac

# The Apache configuration directory (Note: This script is Debian/Ubuntu specific)
APACHE_DIR=/etc/apache2

# The directory to store the web accessible clones of projects
WWW_DIR=/var/www

# The user and group which will own all files/directories in $WWW_DIR.
WWW_USER=root
WWW_GROUP=www-data

# The directory name of the template for new projects
SOLR_TEMPLATE=template_solr

# The data directory for Solr instancesl; will contain bin, conf, and data directories.
SOLR_DATA_DIR=/var/solr

# The web app directory for Tomcat; contains solr.war, and instance admin files.
TOMCAT_WEBAPP_DIR=/var/lib/tomcat6/webapps

# The Tomcat HTTP root directory; contains solr.xml, and instance xml files.
TOMCAT_LOCALHOST_DIR=/etc/tomcat6/Catalina/localhost

# Path to the tomcat6 script, should accept start, stop, and restart.
TOMCAT_SERVICE_PATH=/etc/init.d/tomcat6
