# Creo Project Manager Configuration

# Directory to store temporary files/repos
TMP_DIR=/tmp

# Directory to store project template files, check for samples.
PROJECT_TEMPLATE_FILES=/usr/local/creo-server/templates/

# Default project template, used when -t is not specified.
DEFAULT_TEMPLATE=PROJECT

# The root domain name to use for each project. Will be used in the form: project.DOMAIN.
DOMAIN=dev.example.domain

# Full path to drush
DRUSH_PATH=/usr/bin/drush

# Directory to store/restore backups to/from - NOT FUNCTIONAL
BACKUP_DIR=/var/backups/codebase

# ADMIN MySQL username and password; must have ability to create/drop databases
MYSQL_ADMIN_USERNAME=username
MYSQL_ADMIN_PASSWORD=password

# MySQL username and password; must be able to access all databases
MYSQL_USERNAME=username
MYSQL_PASSWORD=password

# The user@host access string for use with Gitolite
GITOLITE_REPO_ACCESS=git@localhost

# The directory where all gitolite repos are stored
GITOLITE_REPO_DIR=/var/gitolite/repositories

# The gitolite-admin repo clone directory for root
GITOLITE_ADMIN_REPO_DIR=/root/gitolite-admin

# The Apache configuration directory
APACHE_DIR=/etc/apache2

# Path to the the apache2/httpd script, must accept reload, and configtest
APACHE_SERVICE_PATH=/etc/init.d/apache2

# The directory to store the web accessible clones of projects
WWW_DIR=/var/www/projects

# The user and group which will own all files/directories in $WWW_DIR, easier if gitolite owns everything
WWW_USER=git
WWW_GROUP=git

# The data directory for Solr instancesl; will contain bin, conf, and data directories
SOLR_DATA_DIR=/var/solr

# The web app directory for Tomcat; contains solr.war, and instance admin files
TOMCAT_WEBAPP_DIR=/var/lib/tomcat6/webapps

# The Tomcat HTTP root directory; contains solr.xml, and instance xml files
TOMCAT_LOCALHOST_DIR=/etc/tomcat6/Catalina/localhost

# Path to the tomcat6 script, must accept restart command
TOMCAT_SERVICE_PATH=/etc/init.d/tomcat6

# Port Tomcat is running on
TOMCAT_PORT=8983

# The directory name of the template for new projects
SOLR_TEMPLATE=TEMPLATE
